/* 1) Tailwind en başta */
@import "tailwindcss";

/* 2) Tailwind config dosyası (varsa) */
@config "../tailwind.config.js";

/* 3) Tailwind plugin'leri (örn: forms) */
@plugin "@tailwindcss/forms";

/* 4) Kendi global stillerin */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
